.dashboard-container{
    display:flex;
    flex-direction: column;
    background-color:aliceblue;
    padding: 20px 50px;
    margin: auto;
    justify-content: center;

}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;      
  border-radius: 8px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px; 
}
.actions>button{
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}


.buttonn:hover {
  background: #f1f1f1;
}

.cards-container{
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 8px;
    align-items: start;
}
.cards{
    width: 380px;
    height: 25vh;
    display: flex;
    background-color: white;
    padding:5px;
    padding-top: 2px;
    border-radius:20px ;
    box-shadow: 0px 0px 10px 20px lightgray; 
    border: 1px solid #ddd;

}

.cards>h5{
    margin:2px;
}

.cards>h5>button{
    margin:50px 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: whitesmoke;
    border:1px solid gray;
    border-radius: 5px;
}


.donut-chart1 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: conic-gradient(#bfdbfe 50%,#3b82f6 50% );
  margin:50px  auto;
  display: flex;
  align-items:center;
  justify-content: center;
  position:absolute;
}

.donut-chart1::after {
  content: "";
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.donut-center {
  position:absolute;
  text-align:center;
  font-size: 16px;
  font-weight: bold;
  z-index: 2;
}

.donut-center p {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  color: #555;
}

.legend1 {
  margin: 80px ;
  font-size: 14px;

}
.box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 3px;
}

.connected {
  background: #3b82f6;
}

.not-connected {
  background: #bfdbfe;
}


.donut-chart2{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: conic-gradient(#28a745 0% 75%,    
    #8e9091 75% 76%,    
    #ffc107 76% 83%,    
    #dc3545 83% 100% );
  margin:50px  auto;
  display: flex;
  align-items:center;
  justify-content: center;
  position:absolute;
}

.donut-chart2::after {
  content: "";
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}


.legend2{
  padding: 60px;
  font-size: 14px;
}
.failed{
   background: red;
}
.warning{
    background: yellow;
}
.notavailable{
    background:gray;
}
.passed{
    background: green;
}

.risk-bar {
  margin-top: 50px;
}

.bar {
  display: flex;
  height: 14px;
  border-radius: 7px;
  overflow: hidden;
  margin: 10px 0px;
  text-align: left;
}

.brown1{background: #580d0d; height: 100%; width: 5px; }
.red1{ background: #c62828 ;  height: 100%; width: 40px;}
.orange1 { background: #ef6c00; flex: 3;  height: 100;width: 150ps; }
.yellow1 { background: #fbc02d; flex: 2; height: 100%; width: 80px;}
.grey1 { background: #bdbdbd; height: 100%; width: 10px;}

.legend3{
  display: flex;
  gap: 60px;
}
.critical{
  background: #620e0e;
}
.high{
  background: #c62828;
}


.brown2{background: #580d0d; height: 100%; width: 80px; }
.red2{ background: #c62828 ;  height: 100%; width: 70px;}
.orange2 { background: #ef6c00; flex: 3;  height: 100;width: 70px; }
.yellow2 { background: #fbc02d; flex: 2; height: 100%; width: 20px;}
.grey2 { background: #bdbdbd; height: 100%; width: 20px;}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.added-widgets {
  margin: 20px 0;
}

.widget-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 550px;
  height: 100%;
  background: #fff;
  border-left: 1px solid #ddd;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  z-index: 100;
}

.widget-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkblue;
  color: white;
  height: 6%;
}

.tabs {
  margin: 10px 0;
}

.tabs button {
  margin-right: 10px;
}

.tabs .active {
  font-weight: bold;
  color: darkblue;
}

.widget-options {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.panel-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.panel-actions>button{
  background-color: white;
  display:flex;
  justify-content: center;
  margin-top:35%;

}
.panel-actions>button:hover{
  background-color: black;
  color: white;
}



.widgets-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 20px;
  margin-top: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
  



.search-results {
  margin-top: 20px;
}

.cards {
  margin-bottom: 15px;
}
















